*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.ts-padding-top-8 {
    padding-top: 8px;
}

.ts-list-no-style {
    list-style: none;
}

.ts-list-inline {
    display: inline
}

.ts-font-small {
    font-size: 12px;
}

.ts-font-medium {
    font-size: 14px;
}

.ts-center {
    text-align: center;
}

.ts-color-white {
    color: white;
}

.ts-color-black {
    color: black;
}