nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 100%;
}

.nav_button {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: black;
    text-align: center;
    background-color: aqua;
    border: 1px solid black;
}